*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}
body{
    background-color: #1C1C1C;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}
.card{
    min-width: 280px;
    width: 390px;
    height: 600px;
    background-color: #242424;
    border-radius: 40px;
    box-shadow:0px 10px 10px 5px rgba(0,0,0,0.16);
    margin:20px;
    transition-duration: 200ms;
}
/* .card:hover{
    outline: 2px solid #474747;
    transition-duration: 100ms;
} */
.card .card-top{
    height: 223px;
    background: url("https://images.pexels.com/photos/358528/pexels-photo-358528.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") center/cover no-repeat;
    border-radius: 40px 40px 0 0;
}
.card .card-top p{
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    padding-top: 50px;
    color: white;
}
.card .profile-data{
    width: 100%;
    height: 243px;
    padding: 0 10px;
}
.card .profile-data--img{
    display: flex;
    width: 145px;
    height: 145px;
    margin: 0px auto;
    margin-top: -75px;
    border-radius: 50%;
    border: 4px solid white;
}
.card .profile-data h1{
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 30px;
}
.card .profile-data h2{
    text-align: center;
    margin-top: 0px;
    font-size: 1.8rem;
    font-weight: 300;
    color: #C2C2C2;
}
.card .profile-data p{
    width: 73px;
    display: flex;
    margin: 4px auto;
    font-size: 1.4rem;
    font-weight: 300;
    color: #C2C2C2;

}
.card .profile-data p span{
    background: url("./img/mexico-flag.png") center/cover no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    align-self: center;
}
.card .profile-links{
    display: inline-flex;
    width: 100%;
    height: 67px;
    margin-top: 15px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.card .profile-links a{
    font-size: 1.8rem;
    text-align: center;
    color: #C2C2C2;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.card .profile-links a:hover{
    color: white;
}
.card .social{
    display: inline-flex;
    width: 100%;
    height: 67px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background: #2E2E2E;
}
.card .social p{
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
.card .social span{
    font-size: 1.4rem;
    color: #C2C2C2;
}
.card .follow{
    background-color: #060916;
    width: 100%;
    height: 63px;
    border-radius: 0 0 40px 40px;
    display: flex;
    cursor: pointer;
}
.card .follow span{
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 0 auto;
    align-self: center;
    transition-duration: 500ms;
}
.card .follow:hover{
    background-color: #0A0F24;
}
.card .follow:hover span{
    font-size: 2.2rem;
    transition-duration: 200ms;
}
